.container {
  display: none;
} 

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
  width: 40px;
}

.hamburger div {
  background: white;
  border-radius: 20px;
  height: 5px;
  transition: 0.2s ease-in-out;
  width: 100%;
}

.hamburger .openBar1 {
  transform: rotate(-45deg) translate(-11px, 12px);
}

.hamburger .openBar2 {
  opacity: 0;
}

.hamburger .openBar3 {
  transform: rotate(45deg) translate(-12px, -14px);
}

/* media queries */
@media (max-width: 980px) {
  .container {
    display: block;
  }
} 