@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  background: var(--black);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--s-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: calc(var(--s-size) + 10px);
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  text-shadow: none;
  -webkit-text-size-adjust: none;
}

button {
  background: var(--blue);
  border: none;
  border-radius: 100px;
  box-shadow: 0px 2px 8px 0 rgba(33,33,33,0.25);
  color: white;
  cursor: pointer;
  font-size: var(--s-size);
  letter-spacing: 2px;
  outline: none;
  padding: 8px var(--l-size);
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #087DDA;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: var(--desktop-breakpoint);
  padding: 0;
}

h1 {
  font-size: var(--l-size);
  font-weight: 700;
}

h2 {
  font-size: var(--m-size);
  margin: 0;
  padding: 0;
}

h3 {
  font-size: calc(var(--m-size) - 8px);
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link {
  color: white;
  text-decoration: none;
}

.image {
  margin-bottom: var(--s-size);
}

.picture {
  align-self: center;
  padding-bottom: var(--m-size);
}

.svg {
  max-width: 90%;
}

@media screen and (max-width: 1000px) {
  .grid {
    padding: var(--s-size);
  }
}

@media screen and (max-width: 1000px) {
  button {
    margin-left: var(--s-size);
  }
}

@media screen and (max-width: 975px) {
  .grid {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  } 
}