@import '../../styles//settings.module.css';

.container {
  margin-bottom: var(--l-size);
}

.container > p {
  margin-bottom: var(--s-size);
}

.container > h2, h3, h4, h5, h6 {
  margin-bottom: var(--m-size);
  padding-top: var(--s-size);
}

.container pre {
  margin: 0;
  border-radius: 4px;
}

@media (max-width: 980px) {
  .container {
    padding: 0 var(--s-size);
  }
}
